# This is a file which selects files I want git to ignore tracing.
#*.txt
#*~
*.out
test/

# For files assosiated latex.
*.aux
*.dvi
*.log
*.glg
*.glo
*.gls
*.ist
*.toc
*.xdy
*.acn
*.acr
*.alg
*.snm
*.nav

# Adding Mar/22/2017
# For data file.
*.dat

# Adding Mar/28/2017
*.pdf

# Adding Apr/18/2017
*.csv
*.png
*.jpeg
*.xbb

# Adding Mar/3/2017
*.ipynb
